h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}

body {
	font-family: Arial, sans-serif;
}

/* sidebar css */

.sidebar {
	background-color: #f0f0f0;
	padding: 20px;
}

.sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.sidebar ul li {
	margin-bottom: 10px;
}

.sidebar ul li a {
	text-decoration: none;
	color: #337ab7;
}

.sidebar ul li a:hover {
	color: #23527c;
}

.content {
	padding: 20px;
	
}

.card {
	margin-bottom: 20px;
}

.card-body {
	padding: 20px;
}

  