<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>SpringBoot -OTP ::admin page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="main.css">
</head>
<body>
	<div th:replace="~{header :: header}" />
	<div class="container">
		<div class="starter-template">
			<h1 style="padding: 100px; text-align: center; color: rgb(255, 111, 0);">Admin page (Spring Security protected)</h1>
			<h1 style="color: rgb(13, 13, 89);" th:inline="text">Hello : [[${username}]]</h1>
			One Time Password : <a th:href="@{/generateOtp}">OTP</a>
		</div>
		<div>
			<h><span sec:authorize="isAuthenticated()">Logged Admin: <span sec:authentication="name"></span></span></h>
		</div>
		<div>
			<h>Roles: <span sec:authentication="principal.authorities"></span> </h>
		</div>
		<a button type="button" class="btn btn-success" th:href="@{/dashboard}">Back </a>
	</div>


	<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>